﻿@page "/superheroes"
@inject ISuperHeroService SuperHeroService
@inject NavigationManager NavigationManager

<PageTitle>SuperHeroes</PageTitle>

<h3>Super Heroes</h3>

<table  class="table">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Hero Name</th>
			<th>Comic</th>
			<th>Buttons</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var hero in SuperHeroService.Heroes)
		{
			<tr>
				<td>@hero.FirstName</td>
				<td>@hero.LastName</td>
				<td>@hero.HeroName</td>
				<td>@hero.Comic!.Name</td>
				<td>
					<button class="btn btn-primary" @onclick="(() => ShowHero(hero.Id))">
						<i class="oi oi-pencil"></i>
					</button>

				</td>
			</tr>
		}
	</tbody>
</table>

<button class="btn btn-primary" @onclick="CreateNewHero">Create New hero</button>

@code {
	protected override async Task OnInitializedAsync()
	{
		await SuperHeroService.GetSuperHeroes();
	}

	void ShowHero(int id)
	{
		NavigationManager.NavigateTo($"/hero/{id}");
	}

	void CreateNewHero()
	{
		NavigationManager.NavigateTo("/hero");
	}
}
